<section class="sba-intro-wrapper">
  <div class="sba-intro-description">
    <h1 class="sba-intro-title">{{ 'Login'|t }}</h1>
    <div class="sba-icon-wrapper">
      <img src="{{ base_url }}/themes/custom/med_msmes/assets/images/sba.png">
    </div>
  </div>
</section>

<div class="form-wrapper">
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
  <div class="form-group">
    {{ form.name }}
  </div>
  <div class="form-group">{{ form.pass }}</div>
  <div class="form-group text-right">
    <a href="{{ "mailto:" }}{{ form.mail_admin }}" class="forgot-password">Forgot your password?</a>
  </div>
  <div class="form-group">
    <button type="submit" class="btn-form">{{ 'Sign in'|t }}</button>
  </div>
</div>


